<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome to mysite{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'shortenersite/css/custom.css' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
    $(function() {
        $('#submitButton').click(function() {
            var hash = $('#hash').val();
            if(hash){
                if(hash.length < 5 || hash.length > 15){
                    $('#url-result').addClass('error');
                    $('#url-result').text("Hash should be between 5 to 15 characters.");
                }
                else{
                    $.ajax({
                        type: "POST",
                        url: "/makeshort/",
                        data: {
                            'url' : $('#url').val(),
                            'hash' : $('#hash').val(),
                            'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                        },
                        success: returnSuccess,
                        dataType: 'json'
                    });
                }
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/makeshort/",
                    data: {
                        'url' : $('#url').val(),
                        'hash' : $('#hash').val(),
                        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                    },
                    success: returnSuccess,
                    dataType: 'json'
                });
            }
        });
    });
  
    function returnSuccess(data, textStatus, jqXHR) {
        if(data.url) {
            $('#url-result').removeClass('error');
            $('#url-result').text(data.url);
            $('#url').val("");
        } else {
            $('#url-result').addClass('error');
            $('#url-result').text("Do not submit blank url.");
        }
    }
</script>
<body>
    <div id="wrap">
        <header>
            <h1><a href="{% url 'shortenersite:home' %}">URL Shortner</a></h1>
        </header>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>